{% extends "base/base_ebook.html" %}

{% block title %}تاریخنامه وب {{ year }} توسط بایگانی HTTP{% endblock %}

{% block intro_title %}<span class="intro-year">{{ year }}</span><br>Web Almanac{% endblock %}
{% block intro_sub_title %}وضعیت سالانه <br><b>وب بایگانی HTTP</b> ''گزارش''{% endblock %}

{% block about_title %}درباره The Web Almanac{% endblock %}

{% block description %}نسخه الکترونیکی سالنامه وب {{ year }}{% endblock %}

{% block spine_title %}Web Almanac{% endblock %}

{% block twitter_image_alt %}The {{ year }} Web Almanac{% endblock %}
