{% extends "base/error.html" %}

{% block unknown_error %}Unknown Error{% endblock %}

{%
  set localizedStatusCode = {
    400: "درخواست بد",
    404: "صفحه پیدا نشد",
    500: "خطای داخلی سرور",
    502: "خطای موقت سرور"
  }
%}
{% macro expandedTitle(errorTitle) %}خطا: {{ errorTitle }}{% endmacro %}
{%
  set localizedErrorMessage = {
    "Unsupported year requested": "سال پشتیبانی نشده درخواست شد",
    "Unsupported chapter requested": "فصل پشتیبانی نشده درخواست شد",
    "Unsupported language requested": "زبان پشتیبانی نشده درخواست شده است",
    "Not Found": "URL درخواستی در سرور یافت نشد. اگر URL را به صورت دستی وارد کرده اید، لطفاً املای خود را بررسی کنید و دوباره امتحان کنید."
  }
%}
{% macro expandedErrorMessage(errorCode, errorDescription, errorMessage) %}
{{ errorCode }} {{ errorDescription }}: {{ errorMessage }}
{% endmacro %}
