{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}5.8M{% endblock %}
{% block methodology_stat_2 %}20.9 TB{% endblock %}
{% block total_websites %}نزدیک 6 میلیون{% endblock %}
{% block dataset %}July 2019{% endblock %}

{% block foreword %}
  <p>
    وب باز شبکه ای شگفت آور پیچیده و در حال تحول از فناوری ها است. کل صنایع و مشاغل در وب ساخته می شوند و برای موفقیت به اکوسیستم پر جنب و جوش آن وابسته هستند. همانطور که وب حیاتی است، درک چگونگی آن&#8217;انجام دادن به طرز شگفت آوری گریزان بوده است. از سال 2010، ماموریت پروژه بایگانی HTTP ردیابی نحوه ساخت وب بوده است.&#8217; کار شگفت انگیزی از آن انجام داده است. با این حال، یک شکاف وجود داشته است که رفع آن به ویژه چالش برانگیز بوده است: معنا بخشیدن به داده هایی که پروژه بایگانی HTTP جمع آوری کرده است و جامعه را قادر می سازد تا به راحتی نحوه عملکرد وب را درک کنند. اینجاست که وب سالنامه وارد می شود.
  </p>

  <p>
    ماموریت وب سالنامه این است که گنجینه ای از بینش هایی را که در غیر این صورت فقط برای داده کاویان شجاع قابل دسترسی بود، جمع آوری کند و آن را به گونه ای بسته بندی کند که درک آن آسان باشد. این امر با کمک کارشناسان صنعت امکان پذیر شده است که می توانند داده ها را درک کنند و معنی آن را به ما بگویند. هر یک از 20 فصل در وب سالنامه بر جنبه خاصی از وب تمرکز دارد و هر یک توسط متخصصان در زمینه خود تألیف و بررسی شده است. قدرت وب سالنامه مستقیماً از تخصص افرادی است که آن را می نویسند.
  </p>

  <p>
    بسیاری از یافته‌های سالنامه وب شایسته تجلیل هستند، اما یادآوری مهمی از کارهایی است که هنوز برای ارائه تجربیات کاربر با کیفیت بالا لازم است. تجزیه و تحلیل های مبتنی بر داده در هر فصل نوعی مسئولیت پذیری است که همه ما برای توسعه وب بهتر به اشتراک می گذاریم. این برای شرمسار کردن کسانی نیست که اشتباه می کنند، بلکه برای تابش نور راهنما در مسیر بهترین شیوه هاست تا راه روشن و درستی برای انجام کارها وجود داشته باشد. با کمک مستمر جامعه وب، امیدواریم بتوانیم این را به یک سنت سالانه تبدیل کنیم، بنابراین هر سال بتوانیم پیشرفت خود را پیگیری کرده و در صورت نیاز اصلاحات دوره را انجام دهیم.
  </p>

  <p>
    در این گزارش چیزهای زیادی برای یادگیری وجود دارد، بنابراین شروع به کاوش کنید و نکات مهم خود را با جامعه به اشتراک بگذارید تا بتوانیم به طور جمعی درک خود را از وضعیت وب ارتقا دهیم.
  </p>

  <p>— <em><a href="{{ url_for('contributors', year=year, lang=lang, _anchor='rviscomi') }}">Rick Viscomi</a>, Web Almanac سردبیر</em></p>
{% endblock %}
