{% extends "base/contributors.html" %}

{% block title %}مشارکت کنندگان 2019 | The Web Almanac توسط HTTP Archive{% endblock %}

{% block description %}{{ config.contributors.items() | length }} افرادی که به‌عنوان تحلیل‌گر، نویسنده، طوفان فکری، طراح، توسعه‌دهنده، ویراستار، داور و مترجم در سالنامه وب ۲۰۱۹ مشارکت داشته‌اند.{% endblock %}

{% block filter_by_team %}فیلتر بر اساس تیم: <span id="filtered-contributors">{{ self.contributors() }}</span><span id="contributors-total-text" class="hidden"> of <span id="contributors-total">{{ config.contributors.items() | length }}</span></span> مشارکت کنندگان.{% endblock %}
{% block filter_by %}فیلتر بوسیله{% endblock %}

{% block join_the_team_title%}به تیم سالنامه وب بپیوندید{% endblock %}
{% block join_the_team_text%}به تیم بپیوندید!{% endblock %}
